name: wireless-subscription-gql-pr-rollout
on:
  # Executes when a new release is published
  # release:
  #   types: [published]
  push:
    branches:
      - main
  workflow_dispatch:

# Pipeline environment variables
env:
  # GCP Auth
  PROJECT_ID: 'cdo-customerassist-np-0f7135'

jobs:
# ======================================
# Generate github TAG and docker image using the same tag
# ======================================
  generate-tag:
    name: generate new tag
    runs-on: [ubuntu-latest]
    permissions:
      contents: 'write'
      pull-requests: 'write'
    steps:
      - name: "Cloning repo"
        uses: actions/checkout@v3

      - name: Generate tag
        id: tagging
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN  }}
          release_branches: main
          custom_release_rules: hotfix:patch,bug:patch,fix:patch,feat:minor,perf:major
          tag_prefix: gha-cdo-gql-wireless-subscription-np-v
       run: echo "hola"
